.venv
venv
experiments/.neptune
results
.neptune
experiments/wandb
trainers/__pycache__/
data_preprocess/news_headlines_v3.parquet
models/__pycache__/
utils/__pycache__/
trainers/__pycache__/
flash-attention
model_weights
temp
utils/__pycache__
data_preprocess/data_v6/temp_df0.parquet
data_preprocess/data_v6/temp_df0_v2.parquet
data_preprocess/data_v6/temp_pseudo_labels_v1.0.parquet
*.parquet
data_preprocess/data_v6/temp_df_embeds_v2_shard1.parquet
